<a href="https://colab.research.google.com/github/MamatkulovBunyodbek1999/SQL-DATABASE/blob/main/CREATING_SQL_TABLE_ADDING_AND_DELETING_DATA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
import pandas as pd
from pandas import Series 
import sqlite3 as sql
from pprint import pprint as print

In [54]:
db=sql.connect("DATA.db")  # JUST NOW WE CREATED A NEW, EMPTY DATABASE FILE.
cursor=db.cursor()

# CREATING AN EMPTY TABLE IN DATABASE

# If the query is very long, we can devide it into multiple raws using triple quotation marks,[ """just like that""" ] 

query = """                           
CREATE TABLE IF NOT EXISTS worldpop(rank INT,country TEXT PRIMARY KEY, density DOUBLE, population DOUBLE NOT NULL )
        """
PRIMARY KEY= AN IMPORTANT THING 
DOUBLE or REAL= FLOAT NUMBERS.
DOUBLE NOT NULL= IT HAS TO HAVE A VALUE.

In [55]:
# If the query is very long, we can devide it into multiple raws using triple quotation marks,[ """just like that""" ] 
query="""
CREATE TABLE IF NOT EXISTS worldpop(
rank INT,
country TEXT PRIMARY KEY, 
density DOUBLE,
population DOUBLE NOT NULL,
area INT  NOT NULL
);
"""
cursor.execute(query)
db.commit()  # db.commit: to save our changes in database

## CHECKING A TABLE IF IT IS EXISTING

In [56]:
cursor.execute("SELECT NAME from sqlite_master WHERE type='table'")
print(cursor.fetchall())

[('worldpop',)]

## CHECKING ALL VALUES AND COLUMNS THROUGH [ PRAGMA table_info(fileName)

In [57]:
cursor.execute("PRAGMA table_info(worldpop);")
cursor.fetchall()

[(0, 'rank', 'INT', 0, None, 0),
 (1, 'country', 'TEXT', 0, None, 1),
 (2, 'density', 'DOUBLE', 0, None, 0),
 (3, 'population', 'DOUBLE', 1, None, 0),
 (4, 'area', 'INT', 1, None, 0)]

[(0, 'rank', 'INT', 0, None, 0),
 (1, 'country', 'TEXT', 0, None, 1),
 (2, 'population', 'DOUNLE', 1, None, 0),
 (3, 'density', 'DOUBLE', 0, None, 0),
 (4, 'area', 'INT', 1, None, 0)]
# New Section
## THE COLUMNS WHICH HAS [1], MEANS THAT THE COLUMN HAS TO HAVE VALUE.

In [58]:
# If we are adding data into all columns, then we will write [ VALUES() ] RIGHT AFTER WORLDPOP.
query = "INSERT INTO worldpop VALUES (1,'Macau', 21946.4667 , 658.3940, 30)"
cursor.execute(query)
db.commit()

NOW WE WILL EXECUTE VALUES

In [59]:
cursor.execute("SELECT * FROM worldpop")
cursor.fetchall() # CREATING A NEW VARIABLE

[(1, 'Macau', 21946.4667, 658.394, 30)]

# IF WE WANT TO ADD SSOME DATA INTO CERTAIN COLUMNS:

query = 'INSERT INTO worldpop (country, population, area ) VALUES ('Uzbekistan',33935.7630, 447.400)'

In [60]:
query = 'INSERT INTO worldpop (country, population, area ) VALUES ("Uzbekistan",33935.7630, 447.400)'
cursor.execute(query)
db.commit()

In [61]:
cursor.execute("SELECT * FROM worldpop")
cursor.fetchall() # CREATING A NEW VARIABLE

[(1, 'Macau', 21946.4667, 658.394, 30),
 (None, 'Uzbekistan', None, 33935.763, 447.4)]

In [62]:
cursor.execute("SELECT * FROM worldpop")
data=cursor.fetchall() # CREATING A NEW VARIABLE
df=pd.DataFrame(data)

In [63]:
df

     0           1           2          3      4
0  1.0       Macau  21946.4667    658.394   30.0
1  NaN  Uzbekistan         NaN  33935.763  447.4

In [64]:
pd.read_sql('SELECT * FROM worldpop',db) # another way to execute dataframe from sql.

   rank     country     density  population   area
0   1.0       Macau  21946.4667     658.394   30.0
1   NaN  Uzbekistan         NaN   33935.763  447.4


# RENEWING AND DELETING SQL TABLE

NOW WE WILL ADD DATA TO RANK AND DENSITY COLUMNS. TO DO THAT WE WILL CALL [UPDATE] , [SET] OPERATOR OR COMMAND.

In [65]:
query = "UPDATE worldpop SET rank=133,  density=75.8511   WHERE country='Uzbekistan'"
cursor.execute(query)
db.commit()

In [66]:
pd.read_sql("SELECT * FROM worldpop", db) # new data is addet into our database and dataframe

   rank     country     density  population   area
0     1       Macau  21946.4667     658.394   30.0
1   133  Uzbekistan     75.8511   33935.763  447.4

## DELETING DATA FROM DATABASE

TO DALETE DATA FROM DB, WE WILL USE [DELETE] COMMAND.

In [67]:
query = "DELETE FROM worldpop WHERE country='Macau'"
cursor.execute(query)
db.commit()

In [70]:
pd.read_sql("SELECT * FROM worldpop",db)

   rank     country  density  population   area
0   133  Uzbekistan  75.8511   33935.763  447.4

## IF WE DON'T NEED THE DATAS[THAT WE CREATED] WE WILL USE [ DROP TABLE] METHOD/COMMAND.

In [71]:
cursor.execute("DROP TABLE worldpop")
db.commit() # we have to write this command right after DROP method, it will save changes in our file.