<a href="https://colab.research.google.com/github/MamatkulovBunyodbek1999/SQL-DATABASE/blob/main/SQL_COMMANDS_USING_F_STRING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd
from pandas import Series 
import sqlite3 as sql
from pprint import pprint as print

In [23]:
db=sql.connect("newdb.db")  # JUST NOW WE CREATED A NEW, EMPTY DATABASE FILE.
cursor=db.cursor()

# Let's create df first, and we will transfer raws from df into our database
Keling boshlanishiga quyidagi DF ni yaratib olamiz, so'ngra DF qatorlarini yangi SQL jadvalga f-string yordamida yozamiz

In [24]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/world_population.csv", index_col='rank')
df.head()

        country     density   densityMi   pop2021  area
rank
1         Macau  21946.4667  56841.3487   658.394    30
2        Monaco  19755.5000  51166.7450    39.511     2
3     Singapore   8305.1915  21510.4461  5896.686   710
4     Hong Kong   6841.3134  17719.0017  7552.810  1104
5     Gibraltar   5616.3333  14546.3033    33.698     6

## LET'S CREATE A NEW SQL TABLE 
Yangi SQL jadval yaratamiz

In [25]:
query = """
CREATE TABLE IF NOT EXISTS worldpop(
rank INT,
country TEXT PRIMARY KEY,
density DOUBLE,
population DOUBLE NOT NULL,
area INT NOT NULL
);
"""
cursor.execute(query)
db.commit()

## NOW WE WILL SEPARATE DATA , WHICH ARE BELONG TO UZBEKISTAN

Keling jadvladan O'zbekiston uchun qiymatlarni ajratib olamiz

In [26]:
uz=df[df.country=="Uzbekistan"]
print(uz)

         country  density  densityMi    pop2021    area
rank
133   Uzbekistan  75.8511   196.4542  33935.763  447400

In [31]:
rank = uz.index.values[0]
country = uz.at[rank, 'country']
density = uz.at[rank, 'density']
population = uz.at[rank, 'pop2021']
area = uz.at[rank, 'area']
print(f"{rank=}, {country=}, {density=}, {population=}, {area=}")

SyntaxError: ignored

In [28]:
query = f"""
INSERT INTO worldpop VALUES ({rank}, '{country}', {density}, {population}, {area}) 
"""
cursor.execute(query)
db.commit()

In [29]:
query = "SELECT * FROM worldpop"
cursor.execute(query)
cursor.fetchall()

[(133, 'Uzbekistan', 75.8511, 33935.763, 447400)]

In [33]:
df=pd.read_sql("SELECT * FROM worldpop",db)
df

   rank     country  density  population    area
0   133  Uzbekistan  75.8511   33935.763  447400

## closing database

In [36]:
db.close()

In [37]:
df=pd.read_sql("SELECT * FROM worldpop",db)
df

ProgrammingError: ignored